<div class="sp">
  <div class="gridBox" [class.dimmed]="isWinner"
    cdkDropList (cdkDropListDropped)="moveBlock($event)" >
    <div class="square"
         [class.empty]="!block"
         *ngFor="let block of blocks; let i = index"
         cdkDrag
         [cdkDragData]="i">
        <div class="innerSquare" *ngIf="block">{{block}}</div>
    </div>
  </div>

</div>
<button id="shuffleGame" (click)="shuffle()">Shuffle Board</button>
<div class="win-overlay" *ngIf="isWinner">
  <div class="win-container">
    <h1 class="isWin">Solved!</h1>
    <button class="play-again"
      (click)="resetGame()">Play Again?</button>
  </div>
</div>
