<div class="toh" [class.dimmed]="isWinner">
  <!--   <div class="toh" cdkDropListGroup>-->
    <div class="tower" id="t1">
      
      <div
        cdkDropList
        #tower1List = "cdkDropList"
        [cdkDropListData]="tower1"
        [cdkDropListConnectedTo]="[tower1List, tower2List, tower3List]"
        class="diskTower"
        (cdkDropListDropped)="moveDisk($event)">
        <div class="disk" *ngFor="let disk of tower1" [style.background-color]="getDiskColor(disk)" [style.width]="getDiskWidth(disk)" cdkDrag>{{disk}}</div>
      </div>
      <div class="bottom"></div>
    </div>
    <div class="tower" id="t2">
        
        <div
          cdkDropList
          #tower2List = "cdkDropList"
          [cdkDropListData]="tower2"
          [cdkDropListConnectedTo]="[tower1List, tower2List, tower3List]"
          class="diskTower"
          (cdkDropListDropped)="moveDisk($event)">
          <div class="disk" *ngFor="let disk of tower2" [style.background-color]="getDiskColor(disk)" [style.width]="getDiskWidth(disk)" cdkDrag>{{disk}}</div>
        </div>
        <div class="bottom"></div>
    </div>

    <div class="tower" id="t3">
        
        <div
          cdkDropList
          #tower3List = "cdkDropList"
          [cdkDropListData]="tower3"
          [cdkDropListConnectedTo]="[tower2List, tower1List, tower3List]"
          class="diskTower"
          (cdkDropListDropped)="moveDisk($event)">
          <div class="disk" *ngFor="let disk of tower3" [style.background-color]="getDiskColor(disk)" [style.width]="getDiskWidth(disk)" cdkDrag>{{disk}}</div>

        </div>
        <div class="bottom"></div>
    </div>



</div>

<div *ngIf="isWinner" class="win-overlay">
  <div class="win-container">
    <h1 class="isWin">You Win!</h1>
    <button class="play-again" (click)="resetGame()">Play Again?</button>
  </div>
</div>

