<div class="App">
  <h1 id="heading">Choose a Game to Play</h1>
  <nav>

        <a id="toh" [routerLink]="'/towers-of-hanoi'">Towers of Hanoi</a>
        <a id="sp" [routerLink]="'/sliding-puzzle'">Sliding Puzzle</a>


      <!--
       <button (click)="toh=!toh" >Towers of Hanoi</button>
      <button (click)="sp=!sp" >Sliding Puzzle</button>
       -->
  </nav>
  <router-outlet></router-outlet>


   <!--


    <div *ngIf="toh">
      <app-towers-of-hanoi></app-towers-of-hanoi>
    </div>
    <div *ngIf="sp">
      <app-sliding-puzzle></app-sliding-puzzle>
    </div>
   -->



</div>
